body{
  padding:0px;
  background-color: #e2e2e2;
}
.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(9, 102, 230, 0.60);
  color: #0966e6;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #176a9b;
  color: #ffffff;
}
.tab-group .active a {
  background: #176a9b;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

.logo{
  width: 162px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.topo{
  width: 150px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
a{
  color: #333333;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.icone{
  width:100px;
  height:100px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid blue;
  border-radius: 8px;
}
.icone: hover{
  border: red;
}

.row-white{
  margin-right: auto;
  margin-left: auto;
  background-color: #f8f8f8;
  min-height: 600px;
}
.row-space{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
h1{
  text-align: center;
}
.centro{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
.dados-paciente{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  min-height:100px;
  width: 250px;
  border-radius: 8px;
  background-color: #aaccff;
}
canvas { 
  width: 100%;
  height: auto;
}
